<h5 class="m-b-10 ng-star-inserted">{{'helpdesk.viewapplicationfaq' | translate}}</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.helpdeskmaster' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.viewapplicationfaq' | translate}}</a></li>
</ul>


<div class="row mb-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <form autocomplete="off">
            <app-card cardTitle="{{'helpdesk.viewapplicationfaq' | translate}}" class="list-panel view-panel">
                <div class="row mb-2 pb-2">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.faqcode' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.code}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.question' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.question}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.answer' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.answer}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.category' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.categoryName}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.subcategory' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.subCategoryName}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.status' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span *ngIf="registrationobj.status==true">Active</span>
                        <span *ngIf="registrationobj.status==false">InActive</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.createdby' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.createdBy}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.Modifiedby' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.modifiedBy}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.createdon' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.createdDate|date:'dd/MMM/yyyy HH:MM:SS a'}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.Modifiedon' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.modifiedDate|date:'dd/MMM/yyyy HH:MM:SS a'}}</span>
                    </div>
                </div>
            </app-card>
        </form>
    </div>


    <div class="col-12 text-right">
        <!-- <button type="button" class="btn btn-primary mr-2">Submit</button> -->
        <button type="button" class="btn btn-secondary" routerLink="/helpdeskmaster/faq/list">{{'helpdesk.back' | translate}}</button>
    </div>
</div>