<div class="auth-wrapper">
  <div class="col-12">
    <div class="auth-content margin0auto">
      <div class="card animate__animated animate__backInUp">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <form [formGroup]="resetform">
              <div class="card-body text-center">
                <img src="assets/images/logo-d-dark.png" alt="" class="img-fluid mb-2 text-center">
                <h4 class="mb-2 f-w-400 text-center">Reset Password</h4>
                <p class="mb-4 f-w-400 text-center">Enter your Below Details to Processed Forward</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="feather icon-lock"></i></span>
                  </div>
                  <input class="form-control" formControlName="password" placeholder="New Password" type="password">
                  <a class="password-view">
                    <i class="feather icon-eye"></i>
                  </a>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="feather icon-lock"></i></span>
                  </div>
                  <input class="form-control" formControlName="confirm_password" placeholder="Confirm Password" type="password">
                  <a class="password-view">
                    <i class="feather icon-eye"></i>
                  </a>
                </div>

                <div class="d-flex">
                  <button class="btn w-50 btn-secondary mb-4">Cancel</button>
                  <button class="btn w-50 btn-primary ml-2 mb-4" (click)="onSubmit()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center text-center mt-2 px-2">
      <div class="col-md-12 animate__animated animate__backInUp text-white mb-3">
        Copyright &copy; 2020 Uttar Pradesh Excise Department. India | All Rights Reserved.<br />
        Powered By <img src="assets/images/poweredby-icon.png" alt="OASYS Cybernetics Pvt Ltd"><br />
        <i class="feather icon-globe"></i> Browser Compatibility : Chrome 45+, Firefox45+, Safari 3.x+
      </div>
    </div>

  </div>
  <!-- [ reset-password ] end -->
</div>