<h5 class="m-b-10 ng-star-inserted">
    {{'helpdesk.viewshiftworkingdays' | translate}}</h5>

<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.helpdeskmaster' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.shiftworkingdays' | translate}}</a></li>
    <li class="breadcrumb-item">{{'helpdesk.view' | translate}}</li>
</ul>


<div class="row mb-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <form autocomplete="off">
            <app-card cardTitle="{{'helpdesk.shiftworkingdaysdetails' | translate}}" class="list-panel view-panel">
                <div class="row mb-2 pb-2">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.shiftworkingdayscode' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj.code}} </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.shiftworkingdays' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span> {{registrationobj.workingdays}} </span>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.status' | translate}} <span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.status==true?'Active':'Inactive'}}</span>
                    </div>
                    <div class="col-sm-12"><hr style="height:2px;border-width:0;color:floralwhite;background-color:lightgray"></div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.createdby' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.createdBy}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.createdon' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.createdDate|date:'medium'}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.Modifiedby' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.modifiedBy}}</span>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <label class="w-100 view-label">{{'helpdesk.Modifiedon' | translate}}<span class="float-right">:</span></label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <span>{{registrationobj?.modifiedDate|date:'medium'}}</span>
                    </div>
                </div>
            </app-card>
        </form>
    </div>


    <div class="col-12 text-right">
        <!-- <button type="button" class="btn btn-primary mr-2"  >Submit</button> -->
        <button type="button" class="btn btn-secondary" routerLink="/helpdeskmaster/shiftworkingdays/list">{{'helpdesk.back' | translate}}</button>
    </div>
</div>
