<h5 class="m-b-10 ng-star-inserted" *ngIf="id == undefined">
    {{'helpdesk.sla' | translate}}
</h5>
<h5 class="m-b-10 ng-star-inserted" *ngIf="id">
    {{'helpdesk.sla' | translate}}
</h5><ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.helpdeskmaster' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.sla' | translate}}</a></li>
    <li *ngIf="id" class="breadcrumb-item"><a href="javascript:"></a> {{'helpdesk.edit' | translate}}</li>
    <li *ngIf="id == undefined" class="breadcrumb-item"><a href="javascript:"></a>{{'helpdesk.add' | translate}}</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <form [formGroup]="createForm" autocomplete="off">
            <app-card cardTitle="{{'helpdesk.sladetails' | translate}}" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.slacode' | translate}} </label>
                            <input type="text" class="form-control" readonly formControlName="slaCode" required
                                name="slaCode">
                          
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.sla' | translate}} <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="SLA" placeholder="{{'helpdesk.enter' | translate}} {{'helpdesk.sla' | translate}}"
                                name="SLA" (keypress)="keyPress($event)" maxlength="3" required>
                           
                            <div *ngIf="formSubmitted && createForm.get('SLA').errors || createForm.get('SLA').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('SLA').errors?.required">
                                    {{'helpdesk.sla' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.category' | translate}} <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="category" required name="category"
                                (change)="getsub()">
                                <option value="">{{'helpdesk.select' | translate}}</option>
                                <option *ngFor="let item of cat" value="{{item.id}}">{{item.categoryName}}</option>
                            </select>
                            <div *ngIf="formSubmitted && createForm.get('category').errors || createForm.get('category').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('category').errors?.required">
                                    {{'helpdesk.category' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.subcategory' | translate}} <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="subCategory" required name="subCategory"
                                (change)="getpriority();getissueDetailsService();">
                                <option value="">{{'helpdesk.select' | translate}}</option>
                                <option *ngFor="let data of sub" value="{{data.id}}">{{data.subcategoryName}}
                            </select>
                            <div *ngIf="formSubmitted && createForm.get('subCategory').errors || createForm.get('subCategory').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('subCategory').errors?.required">
                                    {{'helpdesk.subcategory' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.issuedetails' | translate}} <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="issueDetails" name="issueDetails" required>
                                <option value="">{{'helpdesk.select' | translate}}</option>
                                <option *ngFor="let item of issue" value="{{item.id}}">{{item.issueName}}</option>
                            </select>
                            <div *ngIf="formSubmitted && createForm.get('issueDetails').errors || createForm.get('issueDetails').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('issueDetails').errors?.required">
                                    {{'helpdesk.issuedetails' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.priority' | translate}} <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="priority" name="priority" disabled
                                placeholder="{{'helpdesk.priority' | translate}}" required>
                            <div *ngIf="formSubmitted && createForm.get('priority').errors || createForm.get('priority').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('priority').errors?.required">
                                    {{'helpdesk.priority' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.status' | translate}}<span class="text-danger">*</span></label>
                            <select name="status" formControlName="status" class="form-control" required>
                                <option value="">{{'helpdesk.select' | translate}}</option>
                                <option value=true>Active</option>
                                <option value=false>Inactive</option>
                            </select>
                            <div *ngIf="formSubmitted && createForm.get('status').errors || createForm.get('status').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('status').errors?.required">
                                    {{'helpdesk.status' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2" (click)="addRegistration(createForm)">{{'helpdesk.submit' | translate}}</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2" routerLink="/helpdeskmaster/sla/list">{{'helpdesk.cancel' | translate}}</button>
    </div>
</div>
<app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered success_popup">
    <div class="app-modal-body text-center">
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
        <img src="assets/images/check.png" />
        <h3 class="text-success">{{'helpdesk.appsubmitsuccess' | translate}}</h3>
        <!-- <h6>Your Application Number is <span class="badge badge-light-success">WH45628665456</span></h6> -->
    </div>
</app-ui-modal>