<h5 *ngIf="editId" class="m-b-10 ng-star-inserted">
    {{'helpdesk.edit' | translate}}  {{'helpdesk.category' | translate}}
</h5>
<h5 *ngIf="editId == undefined" class="m-b-10 ng-star-inserted">
    {{'helpdesk.add' | translate}}  {{'helpdesk.category' | translate}}
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.helpdeskmaster' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.category' | translate}}</a></li>
    <li *ngIf="editId" class="breadcrumb-item"><a href="javascript:"></a> {{'helpdesk.edit' | translate}}</li>
    <li *ngIf="editId == undefined" class="breadcrumb-item"><a href="javascript:"></a>{{'helpdesk.add' | translate}}</li></ul>
<!-- <div class="row"> -->
    <form [formGroup]="createForm" autocomplete="off">

    <div class="col-xl-12">
        <app-card cardTitle="{{'helpdesk.categorydetails' | translate}}" blockClass="table-border-style" class="list-panel add-panel list-search">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="form-group">
                        <label>{{'helpdesk.categorycode' | translate}}</label>
                        <input type="text" readonly appInputRestriction required  class="form-control" name="code" formControlName="code" placeholder="CC1122">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="form-group">
                        <label>{{'helpdesk.category' | translate}} <span class="text-danger">*</span></label>
                        <input type="text" appInputRestriction required class="form-control" name="categoryName" formControlName="categoryName" placeholder="{{'helpdesk.category' | translate}}">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>{{'helpdesk.status' | translate}} <span class="text-danger">*</span></label><br>
                        <select class="form-control" 
                        formControlName="active" required name="status">
                       <option value="">{{'helpdesk.select' | translate}}</option>
                       <option value="true">Active</option>
                       <option value="false">InActive</option>
                       </select>
                        <!-- <div *ngIf="formSubmitted && f.active.invalid" class="error-msg">
                                {{'helpdesk.status' | translate}} {{'helpdesk.isrequired' | translate}}
                        </div> -->
                    </div>
                </div>
            </div>

        </app-card>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-right">
        <div class="form-group">
            <button type="button" class="btn btn-primary m-r-5" (click)="addRegistration(createForm)">{{'helpdesk.submit' | translate}}</button>
            <button type="button" class="btn btn-secondary" routerLink="/helpdeskmaster/category/list">{{'helpdesk.cancel' | translate}}</button>
           
        </div>

    </div>
</form>

<!-- </div> -->

<app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered success_popup">
    <div class="app-modal-body text-center">
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
        <img src="assets/images/check.png" />
        <h3 class="text-success">{{'helpdesk.appsubmitsuccess' | translate}}</h3>
        <!-- <h6>Your Application Number is <span class="badge badge-light-success">WH45628665456</span></h6> -->
    </div>
</app-ui-modal>