<h5 class="m-b-10 ng-star-inserted" *ngIf="editId ==''">
    {{'helpdesk.add' | translate}} {{'helpdesk.ticketstatus' | translate}}
</h5>
<h5 class="m-b-10 ng-star-inserted" *ngIf="editId !=''">
    {{'helpdesk.edit' | translate}} {{'helpdesk.ticketstatus' | translate}}
</h5>
<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.helpdeskmaster' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="/helpdeskmaster/ticket-status/list">{{'helpdesk.ticketstatus' | translate}}</a></li>
    <li *ngIf="editId !=''" class="breadcrumb-item"><a href="javascript:"></a> {{'helpdesk.edit' | translate}}</li>
    <li *ngIf="editId == ''" class="breadcrumb-item"><a href="javascript:"></a>{{'helpdesk.add' | translate}}</li>

</ul>
<!-- <div class="row"> -->
<form [formGroup]="createForm" autocomplete="off">
    <div class="col-xl-12">
        <app-card cardTitle="    {{'helpdesk.ticketstatus' | translate}}" class="list-panel add-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label> {{'helpdesk.ticketstatuscode' | translate}} </label>
                        <input type="text" class="form-control" readonly formControlName="ticketstatusCode"
                            placeholder="TS1122" name="ticketstatusCode">
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label> {{'helpdesk.ticketstatus' | translate}} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="ticketstatusname" required
                            placeholder=" {{'helpdesk.enter' | translate}} {{'helpdesk.ticketstatus' | translate}}" name="ticketstatusname">
                    </div>
                    <div *ngIf="formSubmitted && f.ticketstatusname.invalid" class="error-msg">
                        {{'helpdesk.ticketstatus' | translate}} {{'helpdesk.isrequired' | translate}}
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label> {{'helpdesk.status' | translate}} <span class="text-danger">*</span></label><br>
                        <select class="form-control" formControlName="status" required name="status">
                            <option value="">{{'helpdesk.select' | translate}}</option>
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                    </div>
                    <div *ngIf="formSubmitted && f.status.invalid" class="error-msg">
                        {{'helpdesk.status' | translate}} {{'helpdesk.isrequired' | translate}}
                    </div>
                </div>
            </div>

        </app-card>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2" (click)="addRegistration(createForm)"> {{'helpdesk.submit' | translate}}</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/helpdeskmaster/ticket-status/list">{{'helpdesk.cancel' | translate}}</button>
    </div>
</form>

<!-- </div> -->
<app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered success_popup">
    <div class="app-modal-body text-center">
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
        <img src="assets/images/check.png" />
        <h3 class="text-success">{{'helpdesk.appsubmitsuccess' | translate}}</h3>
    </div>
</app-ui-modal>