.breadcrumb_right {
  right: 25px;
  top: 25px;
}

@media (min-width: 1200px) {
  .col-xl-2 {
      flex: 0 0 20% !important;
      max-width: 21.7% !important;
  }
}


#test{
  text-align: center !important;
  display: block;
  position: relative;
}
