<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card animate__animated animate__backInUp">
      <div class="row align-items-center">
        <div class="col-md-12">
         <form [formGroup]='changepasswordform'>
            <div class="card-body">
                <img src="assets/images/logo-d-dark.png" alt="" class="img-fluid mb-4">
                <h4 class="mb-4 f-w-400">Change your password</h4>
                <div class="input-group mb-2">
                  <input type="password" class="form-control" placeholder="Current Password" formcontrolName='currentpassword'>
                  
                </div>
                <div>
                    <span class="error-msg" *ngIf="changepasswordform.get('currentpassword')?.errors?.required && formsubmitted">
                      <i class="fa fa-times"></i>  Password is Required 
                   </span>
                  </div>
                <div class="input-group mb-2">
                  <input type="password" class="form-control" placeholder="New Password" formcontrolName='newpassword'>
                  
                </div>
                <div>
                    <span class="error-msg" *ngIf="changepasswordform.get('newpassword')?.errors?.required && formsubmitted">
                      <i class="fa fa-times"></i>  Password is Required 
                   </span>
                  </div>
                <div class="input-group mb-2">
                  <input type="password" class="form-control" placeholder="Re-Type New Password" formcontrolName='newpassword2'>
                  
                </div>
                <div>
                    <span class="error-msg" *ngIf="changepasswordform.get('newpassword2')?.errors?.required && formsubmitted">
                      <i class="fa fa-times"></i>  Password is Required 
                   </span>
                  </div>
                <button class="btn btn-block btn-primary mb-4" (click)="changepassword(changepasswordform)">Change password</button>
              </div>
         </form>
        </div>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
