<div class="auth-wrapper-otp">
    <div class="auth-content">
      <div class="card animate__animated animate__backInUp">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
           <form #registrationForm="ngForm">
            <div class="card-body">
              <h4 class="mb-3 f-w-400">OTP</h4>
              <div class="input-group mb-3">
                
                <div class="form-group">
                    <label>Enter Otp</label>

                    <input type="text" id="enterotp" name="enterotp" required  #enterotp="ngModel" 
                    [(ngModel)]="regObj['enterotp']"   
                        required class="form-control" placeholder="Enter Otp">
                        <div *ngIf="enterotp.invalid && (enterotp.dirty || enterotp.touched || formSubmitted)" class="error-msg">
                            <div *ngIf="enterotp?.errors?.required"><i class="fa fa-times"></i>
                            Enter Otp </div>

                        </div>
                </div>
               
              </div>
             
              <div class="input-group mb-4">
               
                <div class="form-group">
                    <label>ReEnter Otp</label>

                    <input type="text" id="renterotp" name="renterotp" required  #renterotp="ngModel" 
                    [(ngModel)]="regObj['renterotp']"   
                        required class="form-control" placeholder=" ReEnter Otp">
                        <div *ngIf="renterotp.invalid && (renterotp.dirty || renterotp.touched || formSubmitted)" class="error-msg">
                            <div *ngIf="renterotp?.errors?.required"><i class="fa fa-times"></i>
                                ReEnter Otp </div>

                        </div>
                </div>
               
              </div>
            <div class ="row">
                <div class="col-md-6">
                    <button class="btn btn-block btn-primary mb-4" (click)="submitOtp(registrationForm)">Verify</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-primary mb-4" (click)="reSentOtp(registrationForm)">ReSent</button>
                </div>
            </div>
            </div>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
