<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <div class="row">
    <div class="col-12">
      <div class="auth-content margin0auto">
        <div class="card animate__animated animate__backInUp">
          <div class="row align-items-center  text-center">
            <div class="col-md-12">
              <form #changePasswordForm="ngForm" autocomplete="off" [mustMatch]="['password', 'confirmPassword']">
                <div class="card-body">
                  <img src="assets/images/logo-d-dark.png" alt="" class="img-fluid mb-2">
                  <h4 class="mb-2 f-w-400">Change password</h4>
                  <p class="mb-4 f-w-400">Enter Below Details to Proceed Forward</p>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="feather icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="New Password" minlength="6" maxlength="25"
                      name="password" #password="ngModel" [(ngModel)]="changePwdObj['password']" required>
                    <div class="col-12 text-left">
                      <div *ngIf="password.invalid && (password.dirty || password.touched || formSubmitted)"
                        class="error-msg">
                        <span *ngIf="password?.errors?.required">
                          <i class="fa fa-times"></i> Password is Required
                        </span>
                        <span *ngIf="password?.errors?.minlength && !password?.errors?.pattern">
                          <i class="fa fa-times"></i> Password length should be greater than 6
                        </span>
                      </div>
                    </div>

                  </div>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="feather icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Repeat Password" name="confirmPassword"
                      required #confirmPassword="ngModel" 
                      [(ngModel)]="changePwdObj['confirmPassword']">
                    <div class="col-12 text-left">
                      <div
                        *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || formSubmitted)"
                        class="error-msg">
                        <div *ngIf="confirmPassword?.errors?.required">
                          <i class="fa fa-times"></i> confirm Password is Required
                        </div>
                        <div class="error-msg" *ngIf="confirmPassword.errors.mustMatch">
                          <i class="fa fa-times"></i> Password Mismatch
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="d-flex">
                    <button class="btn w-50 btn-secondary mb-4" (click)=resetForm()>Clear</button>
                    <button class="btn w-50  btn-primary ml-2 mb-4" (click)=save(changePasswordForm)>Submit</button>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center text-center mt-2 px-2">
        <div class="col-md-12 animate__animated animate__backInUp text-white mb-3">
          Copyright &copy; 2020 Uttar Pradesh Excise Department. India | All Rights Reserved.<br />
          Powered By <img src="assets/images/poweredby-icon.png" alt="OASYS Cybernetics Pvt Ltd"><br />
          <i class="feather icon-globe"></i> Browser Compatibility : Chrome 45+, Firefox45+, Safari 3.x+
        </div>
      </div>
    </div>
  </div>
</div>