<h5 class="m-b-10 ng-star-inserted">
    {{'helpdesk.shiftconfiguration' | translate}}
    <button type="submit" class="btn btn-success pull-right custom_add_button" routerLink='/helpdeskmaster/shiftconfiguration/add'>
    <i class="feather icon-plus mr-2"></i>
    {{'helpdesk.addshiftconfiguration' | translate}}
</button>
</h5>


<ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.helpdeskmaster' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.shiftconfiguration' | translate}}</a></li>
    <li class="breadcrumb-item">{{'helpdesk.list' | translate}}</li>
</ul>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{'helpdesk.search' | translate}}" class="search-panel">
            <label>{{'helpdesk.shiftconfiguration' | translate}}</label>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <select class="form-control" name="shiftconfiguration" #shiftconfiguration="ngModel" [(ngModel)]="createObj['shiftconfiguration']" autocomplete="off">
                            <option value="">{{'helpdesk.select' | translate}}</option>
                            <option *ngFor="let data of listdrop" value="{{data.configuration}}">{{data.configuration}}</option>
                          </select>
                    </div>
                </div>              
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <button type="submit" class="btn btn-primary mr-2" (click)="search();">{{'helpdesk.search' | translate}}</button>
                    <button type="submit" class="btn btn-secondary" (click)="clearfilter();">{{'helpdesk.clear' | translate}}</button>

                </div>
            </div>
        </app-card>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="{{'helpdesk.shiftconfiguration' | translate}} {{'helpdesk.list' | translate}}" blockClass="table-border-style" class="list-panel">
            <div class="table-responsive">
                <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>{{'helpdesk.sNo' | translate}}</th>
                            <th>{{'helpdesk.shiftconfiguration' | translate}}</th>
                            <th>{{'helpdesk.createdby' | translate}}</th>
                            <th>{{'helpdesk.createdon' | translate}}</th>
                            <th>{{'helpdesk.Modifiedby' | translate}}</th>
                            <th>{{'helpdesk.Modifiedon' | translate}}</th>
                            <!-- <th>Pending Since</th> -->
                            <th>{{'helpdesk.status' | translate}}</th>
                            <th>{{'helpdesk.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="list?.length != 0 && list?.length != undefined ">
                        <tr *ngFor="let data of list;let i=index">
                            <td>
                                {{i+1}}
                            </td>

                            <td>{{data.configuration}}</td>
                                              
                            <td>{{data.createdBy}}</td>
                            <td>{{data.createdDate|date:'medium'}} </td>
                            <td>{{data.modifiedBy}}</td>
                            <td>{{data.modifiedDate|date:'medium'}}</td>

                            <td>
                                <span class="badge m-r-5 badge-light-success" *ngIf="data.status">Active</span>
                                <span class="badge m-r-5 badge-light-danger" *ngIf="!data.status">Inactive</span>
                            </td>        
                            <td class="table-action-column text-center">
                                <button class="btn btn-icon btn-primary mr-2" type="button" (click)="navigateView(data.id)">
                                    <i class="feather icon-eye"></i></button>
                                    <button class="btn btn-icon btn-secondary mr-2" type="button"
                                    (click)="navigateEdit(data.id)">
                                    <i class="feather icon-edit"></i></button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xl-4 mt-2">
                    <div ngbDropdown>
                        <button *ngIf="list?.length != 0 && list?.length != undefined " class="btn btn-success"
                      type="button" (click)="export()">{{'helpdesk.download' | translate}}</button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>