<h5 *ngIf="id" class="m-b-10 ng-star-inserted">
    {{'helpdesk.edit' | translate}}  {{'helpdesk.actiontaken' | translate}}
</h5>
<h5 *ngIf="id == undefined" class="m-b-10 ng-star-inserted">
    {{'helpdesk.add' | translate}}  {{'helpdesk.actiontaken' | translate}}
</h5><ul class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="javascript:"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.helpdesk' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{'helpdesk.actiontaken' | translate}}</a></li>
    <li *ngIf="id" class="breadcrumb-item"><a href="javascript:"></a> {{'helpdesk.edit' | translate}}</li>
    <li *ngIf="id == undefined" class="breadcrumb-item"><a href="javascript:"></a>{{'helpdesk.add' | translate}}</li></ul>
<div class="row">
    <div class="col-xl-12">
        <form [formGroup]="createForm" autocomplete="off">
            <app-card cardTitle="{{'helpdesk.addactiontaken' | translate}}" class="list-panel add-panel">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.actiontakencode' | translate}} </label>
                            <input type="text" class="form-control" disabled formControlName="code" name="code">
                            <!-- <div *ngIf="formSubmitted && createForm.get('slaCode').errors || createForm.get('slaCode').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('slaCode').errors?.required">
                                    SLA Code Code {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.actiontaken' | translate}} <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="actionTaken" required
                                placeholder="{{'helpdesk.actiontaken' | translate}}" name="actionTaken">
                            <!-- <option *ngFor="let item of problem" value="{{item.id}}">{{item.actualProblem}}</option> -->
                            <div *ngIf="formSubmitted && createForm.get('actionTaken').errors || createForm.get('actionTaken').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('actionTaken').errors?.required">
                                    {{'helpdesk.actiontaken' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.category' | translate}}<span class="text-danger">*</span> </label>
                            <select class="form-control" name="category" formControlName="categoryId" autocomplete="off"
                                (change)="getsub()">
                                <option value="">{{'helpdesk.select' | translate}}</option>
                                <option *ngFor="let data of cat" value="{{data.id}}">{{data.categoryName}}</option>
                            </select>
                            <div *ngIf="formSubmitted && createForm.get('categoryId').errors || createForm.get('categoryId').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('categoryId').errors?.required">
                                    {{'helpdesk.category' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.subcategory' | translate}}<span class="text-danger">*</span></label>
                            <select class="form-control" name="subcategory" formControlName="subCategoryId" (change)="getActualProblem()"
                                autocomplete="off">
                                <option value="">{{'helpdesk.select' | translate}}</option>
                                <option *ngFor="let data of sub" value="{{data.id}}">{{data.subcategoryName}}
                                </option>
                            </select>
                            <div *ngIf="formSubmitted && createForm.get('subCategoryId').errors || createForm.get('subCategoryId').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('subCategoryId').errors?.required">
                                    {{'helpdesk.subcategory' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.actualproblem' | translate}} <span class="text-danger">*</span></label>
                            <select class="form-control" name="actualproblem" formControlName="actualProblemId"
                                autocomplete="off">
                                <option value="">{{'helpdesk.select' | translate}}</option>
                                <option *ngFor="let item of problem" value="{{item.id}}">{{item.actualProblem}}</option>
                            </select>
                            <div *ngIf="formSubmitted && createForm.get('actualProblemId').errors || createForm.get('actualProblemId').touched "
                                class="error-msg">
                                <span *ngIf="createForm.get('actualProblemId').errors?.required">
                                    {{'helpdesk.actualproblem' | translate}} {{'helpdesk.isrequired' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>{{'helpdesk.status' | translate}} <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="active" required name="active">
                            <option value="">{{'helpdesk.select' | translate}}</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                            </select>
                            <div *ngIf="formSubmitted && createForm.get('active').errors || createForm.get('active').touched " class="error-msg">
                                <span *ngIf="createForm.get('active').errors?.required">
                                {{'helpdesk.status' | translate}} {{'helpdesk.isrequired' | translate}}
                            </span>
                            </div>
                        </div>
                    </div>

                </div>
            </app-card>
        </form>
    </div>
    <div class="col-12 text-right mb-4">
        <button type="button" class="btn btn-primary ml-2 mb-2" (click)="addRegistration(createForm)">{{'helpdesk.submit' | translate}}</button>
        <button type="button" class="btn btn-secondary ml-2 mb-2"
            routerLink="/helpdeskmaster/actiontaken/list">{{'helpdesk.cancel' | translate}}</button>
    </div>
</div>
<app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered success_popup">
    <div class="app-modal-body text-center">
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
        <img src="assets/images/check.png" />
        <h3 class="text-success">{{'helpdesk.appsubmitsuccess' | translate}}</h3>
        <!-- <h6>Your Application Number is <span class="badge badge-light-success">WH45628665456</span></h6> -->
    </div>
</app-ui-modal>